{{> head}}
   {{> navbar}}
	<main class="page page--search">
		<div class="hero wrapper">
			<h1>
				{{ translate 'search.search' }}
			</h1>                
		</div>		
		<div class="wrapper">
			{{{@customSearchContent}}}
		</div>
	</main>
{{> footer}}